includes:
	- phpstan-baseline.neon

parameters:
	level: 9
	paths:
		- src
	scanDirectories:
		- ../../includes
		- ../../tests/phpunit
		- ../../vendor
		- ../../extensions/Wikibase
	bootstrapFiles:
		- ../../includes/AutoLoader.php